[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
pillow = "*"
psutil = "*"
pyvda = "==0.0.8"
pyside6 = "*"
pysnooper = "*"
numpy = "*"
pywin32 = "*"
wmi = "*"
pyinstaller = "*"
sphinx = "*"
tinyaes = "*"
selenium = "*"
xlwings = "*"
pywifi = "*"

[requires]
python_version = "3.11"
